/* To prevent stacking effect of notifications*/
/* Absolute positioning gives vertical stacking*/
/* When a new notification is added at the bottom right, 
it takes up that position, pushing the existing 
notifications upward to make room for the new one. */
/* This behavior is inherent to the default rendering of 
absolutely positioned elements in most browsers. */
.notification-container { 
  position: fixed; 
  bottom: 50px;
  left: 50px;
  z-index: 999;

  /* allows clicking behind it */
  pointer-events: none;
}

.notification {
  /* position: fixed;
  bottom: 50px;
  right: 50px; */
  width: max-content;
  padding: 20px 15px;
  font-weight: 600;
  /* space between 2 notifications, allows little shifting upwards animation */
  margin-bottom: 1rem; 
  
  border-radius: 4px;
  background-color: #ADD8E6;
  color: #334A52;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 4s linear forwards;

  
}

.notification-progress {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-image: linear-gradient(to right, #539bdb, #3250bf);
  border-radius: inherit;
  animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load {
  to {
    transform: scaleX(1);
  }
}

/* @@@@@@@@@@ Media breakpoints @@@@@@@@@@ */
@media (max-width: 801px){
  .notification-container{
    bottom: 16px;
    left: 16px;
  }
}
@media (max-width: 401px){
  .notification-container{
    bottom: 8px;
    left: 8px;
  }
}
